.cartContainer {
  justify-self: flex-end;
  margin-left: auto;
  text-decoration: none;
  display: flex;
}

.cartContainer:visited {
  color: white;
}

.cart {
  width: 33px;
  height: 33px;
  fill: white;
}

.cartBadge {
  border-radius: 50%;
  border: 2px solid white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33px;
  height: 33px;
  font-size: 1rem;
  padding-top: 1px;
}
