.cartContainer {
  justify-self: flex-end;
  margin-left: auto;
  text-decoration: none;
  display: flex;
  border: 2px solid rgba(255 255 255 / 0);
  padding: 10px;
  border-radius: 10px;
  animation: blink 1.5s 1 ease-in-out
}

.cartContainer:visited {
  color: white;
}

.cart {
  width: 33px;
  height: 33px;
  fill: white;
}

.cartBadge {
  border-radius: 50%;
  border: 2px solid white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33px;
  height: 33px;
  font-size: 1rem;
  padding-top: 1px;
}

@keyframes blink {
  0% {
    border: 2px solid rgba(255 255 255 / 0);
  }
  50% {
    border: 2px solid rgba(255 255 255 / 1);
  }
  100% {
    border: 2px solid rgba(255 255 255 / 0);
  }
}
