/*TODO: MAKE THIS WORK ON MOBILE!!*/

.card {
  padding: 25px;
  display: grid;
  grid-template-columns: 100px 100px 10ch 225px 10ch;
  gap: 25px;
  justify-items: center;
  align-items: center;
}

.card > img {
  max-width: 100%;
  align-self: center;
}

.title {
  align-self: center;
}

.price {
  font-size: 1.25rem;
  font-weight: bold;
}

.cartForm {
  display: grid;
  grid-template-columns: min-content 25px 1fr;
  align-items: center;
  gap: 1ch;
}

.formRow {
  display: flex;
  gap: 1ch;
  font-weight: bold;
  align-items: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.formRow input {
  max-width: 5ch;
  text-align: right;
}

.ments {
  display: flex;
  flex-direction: column;
}

.ments button {
  padding: 0;
  border: none;
  background-color: unset;
}
.ments button svg {
  width: 25px;
  height: 25px;
}

.commandBtn {
  background-color: coral;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  white-space: nowrap;
}
