.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #ccc;
  padding: 25px;
}

.cartContainer {
  justify-self: flex-end;
  margin-left: auto;
}

.cart {
  width: 33px;
  height: 33px;
}
