.error {
  border: 1px solid red;
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
}

.cardGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  gap: 25px;
}
